            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Agent Dashboard</title>
                <link rel="stylesheet" href="/css/styles.css">
            </head>
            <body>
                <h1>Welcome, <%= user.name %></h1>
                <nav>
                    <a href="/profile">Profile</a>
                    <form action="/logout" method="post" style="display:inline;">
                        <button type="submit">Log Out</button>
                    </form>
                </nav>
                <h2>Promo Campaigns</h2>
                <ul>
                    <% promos.forEach(function(promo) { %>
                        <li>
                            <strong><%= promo.name %></strong><br>
                            Airline: <%= promo.airline %><br> <!-- Отображение названия авиакомпании -->
                            Description: <%= promo.description %><br>
                            Target Audience: <%= promo.target_audience %><br>
                            Departure City: <%= promo.departure_city %><br>
                            Arrival City: <%= promo.arrival_city %><br>
                            Travel Period: <%= promo.travel_period %><br>
                            Commission for Agency: <%= promo.commission_agency %><br>
                            Commission for Agent: <%= promo.commission_agent %><br>
                        </li>
                    <% }) %>
                </ul>
            </body>
            </html>
